// --------------------------------
// colors

$indigo: #073c5e;
$denim: #073c5e;
$powder: #073c5e;
$turquoise: #073c5e;
$khaki: #fef4d3;
$yellow: #073c5e;
$orange: #073c5e;
$red: #073c5e;
$black: #000000;
$white: #ffffff;

$fontfam: 'Panton', 'Roboto', 'Droid Sans', 'Helvetica', 'Verdana', 'Arial', sans-serif;

$unit: 20px;

// type styles

.text-center {
	text-align: center;
}