// --------------------------------
// colors

$indigo: #073c5e;
$blue: #106ca8;
$powder: #478cca;
$turquoise: #13afb5;
$khaki: #fef4d3;
$yellow: #efc913;
$orange: #f47621;
$red: #dd232b;
$black: #000000;
$white: #ffffff;

$fontfam: 'Panton', 'Roboto', 'Droid Sans', 'Helvetica', 'Verdana', 'Arial', sans-serif;

$unit: 20px;

$easing: ease-out;
$speed: 250ms;

