// --------------------------------
// colors

$blue: #073c5e;
$bluelight: lighten($blue, 20%);
$red: #dd232b;
$reddark: darken($red, 50%);
$yellow: #efc913;
$rednormal: #b82134; 
$black: #000000;
$white: #ffffff;