@import 'normalize';
@import 'variables';
@import 'mixins';

body {
	background-color: $indigo;
}
h {
	&1, &2, &3, &4, &5, &6 {
		color: $white;
		margin: 0 0 $unit 0;
	}
	&1 {

	}
	&2 {
		font-size: 76px;
	}
	&3 {
		font-size: 28px;
	}
	&4 {
		font-size: 20px;
	}
}
// --------------------------------
// text rules
.text-capitalize {
	text-transform: capitalize;
}
.text-uppercase {
	text-transform: uppercase;
}
.text-center {
	text-align: center;
}
.text-blue {
	color: $indigo;
}
.text-red {
	color: $red;
}
.text-white {
	color: $white;
}
// --------------------------------
// bg colors
.bg-white {
	background-color: $white;
}
.bg-powder {
	background-color: $powder;
}
.bg-light-powder {
	background-color: #ccdbe5;
}
.bg-red {
	background-color: $red;
}
// --------------------------------
// element rules w modifiers
a {
	text-decoration: none;
	border: none;
}
p {
	&.lead-in {
		color: $blue;
	}
}
img {
	&.logo-rocket {
		width: $unit*10;
		margin: $unit*4 auto 0;
		transform: translateY($unit*3);
	}
	&.logo {

	}
}
.social-icon {
	width: 44px; height: 44px;
	fill: $white;
	transition: fill $duration $easing;
	&:hover {
		fill: $yellow;
	}
}
.btn {
	background-color: $turquoise; color: $white;
	border: none;
	@extend .text-capitalize;
	padding: $unit*.5 $unit;
}
.icon {
	&-social {

	}
}
// --------------------------------
// basic article styles
.article {
	
}
// --------------------------------
// basic section styles
.section {
	padding: $unit;
}
// --------------------------------
// individual section styles
.rocket {
	background-color: $indigo;
	background-image: url('../assets/css/bg-article-rocket.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: contain;
	overflow: hidden;
	@extend .text-center;
}
.about {
	
}
.activate-date {
	div {
		&:not(:last-of-type) {
			margin-bottom: $unit*2;
		}
	}
	.social-icon {
		background-color: darken($red, 10%);
	}
}
// --------------------------------
// form elements
input {
	border-radius: 0;
	border: none;
	&[type=email] {
		width: 100%; height: $unit*2;
	}
}
.speakers {
	.col {

	}
	section {

	}
}
.speaker-bio-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	&.blue {
		background-color: $blue;
		.speaker-photo {
			background-color: $blue;
		}
	}
	&.turquoise {
		background-color: $turquoise;
		.speaker-photo {
			background-color: $turquoise;
		}
	}
	&.red {
		background-color: $red;
		.speaker-photo {
			background-color: $red;
		}
	}
	&.powder {
		background-color: $powder;
		.speaker-photo {
			background-color: $powder;
		}
	}
}
.speaker-photo {
	width: 100%; height: 400px;
	background-color: transparent;
	background-position: center center;
	background-size: cover;
	background-blend-mode: multiply;
	img {
		width: 100%;
	}
}
.speaker-bio {
	flex: 1;
	padding: $unit*2;
	h4 {
		text-transform: capitalize;
	}
}
.speaker-name {
	margin-bottom: $unit*.5;
	text-transform: capitalize;
}
.speaker-name-aux {
	color: darken($blue, 10%);
	font-size: smaller;
	text-transform: uppercase;
}
.speaker-summary {
	color: $white;
}
.speaker-socials {
	margin-bottom: $unit*.5;
	.social-icon {
		background-color: darken($blue, 10%);
	}
}
// --------------------------------
// media queries

@media screen and ( min-width: 600px ) {
	img {
		&.logo-rocket {
			width: $unit*10;
			margin: $unit*5 auto 0;
		}
	}
	.about {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
	}
	.col {

	}
	.col-38 {
		width: 38%;
	}
	.col-50 {
		width: 50%;
	}
	.col-62 {
		width: 62%;
	}
	
	.speaker-bio-wrap {
		flex-direction: row;
	}
	.speaker-photo {
		width: 38%; height: unset;
	}
}
@media screen and ( min-width: 768px ) {
	.rocket {
		background-size: cover;
	}
	img {
		&.logo-rocket {
			width: $unit*15;
			margin: $unit*5 auto 0;
			transform: translateY($unit*4);
		}
	}
	.section {
		padding: $unit*2;
	}
	.form-inline {
		display: flex;
		justify-content: space-between;
		.form-control {
			flex: 1;
		}
		.btn {
			flex-basis: 120px;
		}
	}
	.col {
		width: 50%;
	}
	.speakers {
		
		.col {
			width: 100%;
		}
	}
	
	.speaker-photo {
		width: 35%;
	}
	
}
@media screen and ( min-width: 1024px ) {
	img {
		&.logo-rocket {
			margin: $unit*5 auto 0;
		}
	}
	.speakers {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-content: center;
		.col {
			
		}
	}
	.speaker-photo {
		width: 38%;
	}
}
@media screen and ( min-width: 1280px ) {
	.speakers {
		flex-direction: row;
		justify-content: space-between;
		.col {
			width: 50%;
		}
	}
	.speaker-photo {
		width: 38%;
	}
	
}
@media screen and ( min-width: 1440px ) {
	.wrap {
		position: relative;
		margin: 0 auto;
		width: 1400px;
	}
}
@media screen and ( min-width: 1920px ) {
	
}