<div class="bg-color bg-white">
	<nav id="nav" class="wrap nav">
		<ul class="nav-items menu">
			<li class="menu-rocket"><a data-scroll href="#rocket"><img class="nav-img" src="assets/img/rocket.svg" alt=""></a></li>
			<li><a data-scroll href="#about-activate">about</a></li>
			<li><a data-scroll href="#speakers">speakers <br class="show-mobile" />&amp; panels</a></li>
			<li><a data-scroll href="#venue">venue</a></li>
			<li><a data-scroll href="#sponsors">sponsors</a></li>
			<li><a data-scroll href="#organizers">organizers</a></li>
		</ul>
		<ul class="nav-items register">
			<li><a id="btn-register" class="">register now</a></li>
		</ul>
	</nav>
</div>