<div class="col">
	<section class="sponsor-level sponsor-level-name bg-powder">
		<a href="http://sparkhound.com/" title="Sparkhound" target="_blank"><img class="inject-me sponsor-logo" src="assets/img/logos/sparkhound-logo.svg" alt="Sparkhound is an Activate Sponsor"></a>
	</section>
	
	<section class="sponsor-level sponsor-level-name bg-blue">
    <a href="http://thinkx.net/" title="X Design" target="_blank">
    <img class="inject-me sponsor-logo" src="assets/img/logos/x-logo.svg" alt="X Design is an Activate Sponsor">
    </a>
    </section>
    
	<section class="sponsor-level sponsor-level-name bg-yellow">
    <a href="http://www.odysseydesignstudio.com/" title="Odyssey Design" target="_blank">
    <img class="inject-me sponsor-logo" src="assets/img/logos/odyssey-logo.svg" alt="Odyssey Design is an Activate Sponsor">
    </a>
		
	</section>
</div>

<div class="col">
<section class="sponsor-level sponsor-level-name bg-orange">
		<a href="http://newaperio.com/" title="New Aperio" target="_blank"><img class="inject-me sponsor-logo" src="assets/img/logos/new-aperio-logo.svg" alt="New Aperio is an Activate Sponsor"></a>
	</section>
	
	<section class="sponsor-level sponsor-level-name bg-turquoise">
		<a href="https://stunning.co/" title="Stunning" target="_blank"><img class="inject-me sponsor-logo" src="assets/img/logos/stunning-logo.svg" alt="Stunning is an Activate Sponsor"></a>
	</section>
	
</div>

<div class="col">
	<section class="sponsor-level sponsor-level-name bg-blue">
        <a href="https://envoc.com/" title="Envoc" target="_blank">
            <img class="inject-me sponsor-logo" src="assets/img/logos/envoc.svg" alt="Envoc is an Activate Sponsor">
        </a>
	</section>
    <section class="sponsor-level sponsor-level-name bg-red">
        <a href="http://stundesign.com/" title="Stun Design" target="_blank">
            <img class="inject-me sponsor-logo" src="assets/img/logos/stun-design-logo.svg" alt="Stun Design is an Activate Sponsor">
        </a>
	</section>
    <section class="sponsor-level sponsor-level-name bg-yellow">
    	<a href="http://www.la-wit.org/" title="LaWIT" target="_blank">
			<img class="inject-me sponsor-logo" src="assets/img/logos/lawit-logo.svg" alt="LaWIT is an Activate Partner">
        </a>
	</section>
   
	
</div>
<div class="col">
<section class="sponsor-level sponsor-level-name bg-powder">
		<a href="http://repcapitalmedia.com/" title="Reputation Capital" target="_blank"><img class="inject-me sponsor-logo" src="assets/img/logos/rep-cap-logo.svg" alt="Reputation Capital is an Activate Sponsor"></a>
	</section>
	<section class="sponsor-level sponsor-level-name bg-orange">
		<a href="http://www.thefuturesfund.org/" title="New Aperio" target="_blank"><img class="inject-me sponsor-logo" src="assets/img/logos/futures-fund-logo.png" alt="The Futures Fund is an Activate Sponsor"></a>
	</section>
	 <section class="sponsor-level sponsor-level-name bg-red">
	  <h4>Join Us!</h4> 
	    <p><a href="http://activateconf.com/assets/pdf/activate-sponsor-sheet.pdf" target="_blank" class="btn">Sponsor Activate</a></p>
	</section>
	<!--<section class="sponsor-level sponsor-level-name bg-orange">
		<img class="inject-me sponsor-logo" src="assets/img/logos/google-logo.svg" alt="Sponsor Name Logo">
	</section>
	<section class="sponsor-level sponsor-level-name bg-powder">
		<img class="inject-me sponsor-logo" src="assets/img/logos/slack-logo.svg" alt="Sponsor Name Logo">
	</section>
	<section class="sponsor-level sponsor-level-name bg-red">
		<img class="inject-me sponsor-logo" src="assets/img/logos/twitter-logo.svg" alt="Sponsor Name Logo">
	</section>-->
</div>